
@model List<Expense>

    @foreach (Expense expense in Model)
    {
        <div class="card bg-dark text-light text-center m-5">
            <h1>@expense.Amount</h1>
            <h2>@expense.Date</h2>
            <h4>@expense.Description</h4>
        </div>
    }

