<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["BudgetApp"]BudgetApp</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Font.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Tiles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CreditCards.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/FormElements.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BudgetApp.styles.css" asp-append-version="true" />
</head>
<body >
    <header class="main-header">
        <p class="date">Tuesday, December 05, 2023</p>
        <div class="profile-selector">
            <picture class="profile-img-container">
                <img class="profile-img"/>
            </picture>
            <p class="profile-name">Vinicio Chavez</p>
        </div>
        
    </header>
    <aside>
        <h1><span>Budget</span>App</h1>
        <nav class="main-nav">
            <ul class="nav-list">
                <li class="list-item">
                    <a class="nav-a">Overview</a>
                </li>
                <li class="list-item">
                    <a class="nav-a">Cards</a>
                </li>
                <li class="list-item">
                    <a class="nav-a">Accounts</a>
                </li>
                <li class="list-item">
                    <a class="nav-a">Debt</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main role="main">
        @RenderBody()
    </main>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
