@using BudgetApp.Models

<div class="overview">
    <button class="month-selector">
        December 2023
        <svg xmlns="http://www.w3.org/2000/svg" class="svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M6 9l6 6l6 -6" />
        </svg>
    </button>
    <partial name="~/Views/Shared/Partial Views/_TilesPartial.cshtml"></partial>
    <div id="ExpensePartialViewContainer">

    </div>
</div>

<script type="module" src="~/wwwroot/js/ExpenseTable/TableFunctionality.js"></script>

@{
}



