@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Pending Tasks </h1>
<p> Need to make changes to method value for recurrent expensesm same as expenses</p>
<p> Will need to add json ingoner not only for expense but for the recurrent expenses and income to, to make sure I dont have the issue of json loop</p>
<!-- This one will have the categories for income and expenses-->
