@using BudgetApp.Models
@model ExpenseTableViewModel

@{

    DateTime currentDate = DateTime.Now;
    string today = currentDate.ToString("dd-MMMM-yyyy");
    string monthAndYear = currentDate.ToString("yyyy-MM");

}

<div class="card mt-3 mx-0 py-1 text-color text-md-start general-tiles tilesBudget">
    <div class="card-body">
        <div class="row mb-1">
            <div class="col-9 align-content-center pe-0">
                <div id="monthBalanceDisplay">
                    <h5 id="monthBalance" class="mb-2"></h5>
                </div>
                <div id="monthBalanceForm" class="hiddenElement transparentForm">
                    <div class="tilesBudgetH5Input">
                        <input id="budgetMonthValue" value="@monthAndYear" type="month">
                    </div>
                </div>
            </div>
            <div class="col-3 align-content-center ps-0">
                <button data-index="@Model.Budget.Id" id="updateBudgetBtn" type="button" class="btnMain float-end btn-sm hiddenElement">Save</button>
                <button id="saveMonthBudgetBtn" type="button" class="btnMain float-end btn-sm hiddenElement">Save</button>
            </div>
        </div>
        <hr class="bg-ligth mt-0 mb-3">
        <div id="budgetDisplay">
            <button id="editBudgetBtn" class="buttonEditable">
                <p class="card-text text-color fs-5 mb-0 pEditable">Budget: @Html.DisplayFor(model => model.Budget.Amount)</p>
            </button>
        </div>
        <form id="budgetForm" class="transparentForm hiddenElement">
            <div class="tilesBudgetH5Input">
                <label for="budgetValue"><strong>Budget amount:</strong></label>
                <input id="budgetValue" value="@Model.Budget.Amount" type="number" step="any" required>
            </div>
        </form>
        <p id="budgetBalance" class="card-text fs-3"></p>
    </div>
</div>

