
<section class="expense-table-section">
    <h3>Expenses</h3>
    <div class="search-bar-container">
        <button type="button">+ Add Expense</button>
        <form class="search-search-form">
            <div class="input-container">
                <label for="expense-search-input">Search</label>
                <input id="expense-search-input" type="text" placeholder="House..." />
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button>
            </div>
            <div class="input-container">
                <label for="expense-date-search-input">Search date</label>
                <input id="expense-date-search-input" type="text" placeholder="mm/dd/yyyy" />
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button>
            </div>
        </form>
        <button type="button">Delete Expense</button>
    </div>
</section>




@{
}
