
<section class="expense-table-section">
    <h3 class="title">Expenses</h3>
    <div class="search-bar-container">
        <button type="button" class="add-btn">+ Add Expense</button>
        <form class="search-form">
            <div class="input-container">
                <label for="expense-search-input">Search</label>
                <input id="expense-search-input" type="text" placeholder="House..." />
                <button class="search-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button>
            </div>
            <div class="input-container">
                <label for="expense-date-search-input">Search date</label>
                <input id="expense-date-search-input" type="date" />
                <button class="search-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button>
            </div>
        </form>
        <button type="button" class="delete-btn">Delete Expense</button>
    </div>
    <div class="table-container">
        <table class="expense-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Payment method</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                        <span class="table-data">House</span>
                        <label class="sr-only">Expense type</label>
                        <select class="table-select" placeholder="" required>
                            <option>- Select type -</option>
                            <option>House</option>
                        </select>
                    </td>
                    <td>
                        <span class="table-data">Dec 05, 2023</span>
                        <label class="sr-only">Date</label>
                        <input class="table-input" type="date" required/>
                    </td>
                    <td>
                        <span class="table-data">BBVA<span class="payment-method-type"></span></span>
                        <label class="sr-only">Payment method</label>
                        <select class="table-select" required>
                            <option>- Select payment method -</option>
                            <option>BBVA (debit)</option>
                            <option>Stori (credit)</option>
                        </select>
                    </td>
                    <td>
                        <span class="table-data">$250</span>
                        <label class="sr-only">Amount</label>
                        <input class="table-input" type="number" required />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-pagination-container">
            <p class="page-info">Showing 1-3 of 28 expenses</p>
            <nav class="pagination-nav">
                <ul class="pagination-btn-list">
                    <li class="list-btn">
                        <button>Prev</button>
                    </li>
                    <li class="list-btn">
                        <button>1</button>
                    </li>
                    <li class="list-btn">
                        <button>2</button>
                    </li>
                    <li class="list-btn">
                        <button>3</button>
                    </li>
                    <li class="list-btn">
                        <button>4</button>
                    </li>
                    <li class="list-btn">
                        <button>5</button>
                    </li>
                    <li class="list-btn">
                        <button>Next</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>




@{
}
