<article class="tiles-section">
    <section class="tile budget-tile">
        <div class="header-container">
            <header class="header">
                <h2 class="title">Budget</h2>
                <button type="button" class="edit-btn" title="Edit Button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                        <path d="M16 5l3 3" />
                    </svg>
                </button>
            </header>
            <svg xmlns="http://www.w3.org/2000/svg" class="tile-svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M16 6m-5 0a5 3 0 1 0 10 0a5 3 0 1 0 -10 0" />
                <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
                <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
                <path d="M5 15v1m0 -8v1" />
            </svg>
        </div>
        <footer class="amount-container">
            <p class="amount">$250</p>
            <p class="amount-status">left</p>
        </footer>
    </section>
    <section class="tile balance-tile">
        <div class="header-container">
            <header class="header">
                <h2 class="title">Balance</h2>
            </header>
            <svg xmlns="http://www.w3.org/2000/svg" class="tile-svg svg-general-size" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#95b2be" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 20l10 0" />
                <path d="M6 6l6 -1l6 1" />
                <path d="M12 3l0 17" />
                <path d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0" />
                <path d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0" />
            </svg>
        </div>
        <footer class="amount-container">
            <p class="amount">$1450</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="tile-svg svg-general-size amount-status-svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M16 9l-4 -4" />
                <path d="M8 9l4 -4" />
            </svg>
        </footer>
    </section>
    <section class="tile income-tile">
        <div class="header-container">
            <header class="header">
                <h2 class="title">Income</h2>
            </header>
            <svg xmlns="http://www.w3.org/2000/svg" class="tile-svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
                <path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2" />
            </svg>
        </div>
        <footer class="amount-container">
            <p class="amount">$2450</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="tile-svg svg-general-size amount-status-svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M16 9l-4 -4" />
                <path d="M8 9l4 -4" />
            </svg>
        </footer>
    </section>
    <section class="tile expense-tile">
        <div class="header-container">
            <header class="header">
                <h2 class="title">Expenses</h2>
            </header>
            <svg xmlns="http://www.w3.org/2000/svg" class="tile-svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" " fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M13 9h6a2 2 0 0 1 2 2v6m-2 2h-10a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2" />
                <path d="M12.582 12.59a2 2 0 0 0 2.83 2.826" />
                <path d="M17 9v-2a2 2 0 0 0 -2 -2h-6m-4 0a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2" />
                <path d="M3 3l18 18" />
            </svg>
        </div>
        <footer class="amount-container">
            <p class="amount">$1000</p>
            <svg xmlns="http://www.w3.org/2000/svg" class="tile-svg svg-general-size amount-status-svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M16 9l-4 -4" />
                <path d="M8 9l4 -4" />
            </svg>
        </footer>
    </section>
</article>
@{
}
