.expense-table-section {

}
/* Table and search bar */
    .expense-table-section .title {
        font-size: var(--medium-fs);
        font-weight: var(--medium-fw);
        margin-bottom: var(--spacing-small);
        line-height: 1;
    }
    .expense-table-section .search-bar-container {
        --height: 32px;
        background-color: var(--element-background-400);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 6px;
        padding-inline: 16px;
        border-radius: 12px;
        margin-bottom: calc(var(--spacing-small) / 2);
    }
        .expense-table-section .search-bar-container .table-actions-btns-container {
            display: flex;
            align-items: center;
            gap: var(--spacing-small);
        }
        .expense-table-section .search-bar-container .add-btn,
        .expense-table-section .search-bar-container .delete-btn,
        .expense-table-section .search-bar-container .search-form,
        .expense-table-section .search-bar-container .search-form input {
            font-size: var(--small-fs);
            font-weight: var(--medium-fw);
            height: var(--height);
        }
        .expense-table-section .search-bar-container .add-btn,
        .expense-table-section .search-bar-container .delete-btn {
            color: var(--typography-color-100);
            padding-inline: 12px;
            border-radius: 12px;
        }
        .expense-table-section .search-bar-container .add-btn {
            background-color: var(--primary-color-700);
        }
        .expense-table-section .search-bar-container .delete-btn {
            background-color: var(--danger-color-900);
        }
        .expense-table-section .search-bar-container .search-form {
            display: flex;
            align-items: center;
            gap: var(--spacing-small);
            color: var(--typography-color-300);
        }
            .expense-table-section .search-bar-container .search-form input,
            .expense-table-section .search-bar-container .search-form .search-btn {
                background-color: var(--element-background-300);
                padding-block: 0;
            }
                .expense-table-section .search-bar-container .search-form .input-container {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
                    .expense-table-section .search-bar-container .search-form .input-container input {
                        height: var(--height);
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        color: var(--typography-color-100);
                    }
                        .expense-table-section .search-bar-container .search-form .input-container input::placeholder {
                            color: var(--typography-color-500);
                        }
                        .expense-table-section .search-bar-container .search-form .input-container .search-btn {
                            border-left: 1px solid var(--element-background-500);
                            height: var(--height);
                            padding-inline: 8px;
                            margin-left: -8px;
                            border-top-right-radius: 12px;
                            border-bottom-right-radius: 12px;
                            display: inline-flex;
                            align-items: center;
                        }
                            .expense-table-section .search-bar-container .search-form .input-container .search-btn .svg {
                                stroke: var(--typography-color-300);
                                width: 20px;
                                height: 20px;
                            }




    /* Table check boxes */
    .expense-table-section .expense-table .row-checkbox,
    .expense-table-section .expense-table .visible-rows-checkbox {
        font-weight: var(--semibold-fw);
        position: absolute;
        left: 50%;
        bottom: 50%;
        width: 15px;
        height: 15px;
        transform: translate(-50%, 50%);
    }
        .expense-table-section .expense-table .row-checkbox:checked,
        .expense-table-section .expense-table .row-checkbox:focus,
        .expense-table-section .expense-table .visible-rows-checkbox:checked,
        .expense-table-section .expense-table .visible-rows-checkbox:focus {
            outline: none;
            border: none;
        }

        .expense-table-section .expense-table .row-checkbox:before,
        .expense-table-section .expense-table .visible-rows-checkbox:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            width: 15px;
            height: 15px;
            border: 1px solid var(--typography-color-300);
            border-radius: 2px;
            background-color: var(--element-background-500);
        }
        .expense-table-section .expense-table .row-checkbox:checked:before,
        .expense-table-section .expense-table .visible-rows-checkbox:checked:before {
            border: 1px solid var(--primary-color-500);
            outline: none;
        }
        .expense-table-section .expense-table .row-checkbox:checked:after,
        .expense-table-section .expense-table .visible-rows-checkbox:checked:after {
            content: '\2713';
            position: absolute;
            z-index: 2;
            left: -4px;
            bottom: 2px;
            width: 15px;
            height: 15px;
            color: var(--typography-color-300);
        }
        .expense-table-section .expense-table .row-checkbox:focus:before,
        .expense-table-section .expense-table .visible-rows-checkbox:focus:before {
            border: 1px solid var(--primary-color-400);
        }

        




    /* Table headers */
    .expense-table-section thead .th-content {
        position: relative;
    }

    .expense-table-section thead .th-content .sort-btn {
        position: absolute;
        left: calc(100% + 10px);
        bottom: 0%;
        width: 20px;
        height: 20px;
        display: grid;
        justify-content: center;
    }

        .expense-table-section thead .th-content .sort-btn .svg-top,
        .expense-table-section thead .th-content .sort-btn .svg-bottom {
            width: 10px;
            height: 10px;
        }

        .expense-table-section thead .th-content .sort-btn .svg-top {
            fill: var(--primary-color-500);
        }

        .expense-table-section thead .th-content .sort-btn .svg-bottom {
            fill: var(--typography-color-500);
        }



    /* Table rows and data */
    .expense-table-section .table-container {
        border-radius: 12px;
        background-color: var(--element-background-500);
        padding-inline: 8px;
    }
    .expense-table-section .table-container .expense-table {
        width: 100%;
        text-align: center;
        border-spacing: 0px;
        border-collapse: collapse;
    }
        .expense-table-section .table-container .expense-table th,
        .expense-table-section .table-container .expense-table td {
            font-size: var(--small-fs);
            position: relative;
        }
        .expense-table-section .table-container .expense-table th {
            border-bottom: 2px solid var(--danger-color-900);
            padding: 10px;
        }
        .expense-table-section .table-container .expense-table td {
            height: 40px;
        }
            .expense-table-section .table-container .expense-table td .td {
                transition: opacity 200ms;
            }
            .expense-table-section .table-container .expense-table td .td[aria-hidden="true"] {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
            .expense-table-section .table-container .expense-table td .td[aria-hidden="false"] {
                position: relative;
                opacity: 1;
            }
            .expense-table-section .table-container .expense-table td .table-data-type {
                color: var(--typography-color-300);
            }
            .expense-table-section .table-container .expense-table td .table-data-date {
                color: var(--typography-color-500);
            }
            .expense-table-section .table-container .expense-table td .table-data-method {
                background-color: #0094ff;
                padding-inline: 6px;
                border-radius: 50px;
            }
            .expense-table-section .table-container .expense-table td .payment-method-type {
                color: var(--typography-color-500);
                font-weight: var(--regular-fw);
            }
                .expense-table-section .table-container .expense-table tbody tr:last-child td {
                    border-bottom: 2px solid var(--danger-color-900);
                }



    /* Table edit, details, save, cancel buttons */
    .expense-table-section tbody tr .edit-btn,
    .expense-table-section tbody tr .details-btn,
    .expense-table-section tbody tr .save-btn,
    .expense-table-section tbody tr .cancel-btn {
        transition: opacity 200ms;
    }

    .expense-table-section tbody tr .edit-btn[aria-hidden="true"],
    .expense-table-section tbody tr .details-btn[aria-hidden="true"],
    .expense-table-section tbody tr .save-btn[aria-hidden="true"],
    .expense-table-section tbody tr .cancel-btn[aria-hidden="true"] {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .expense-table-section tbody tr .edit-btn[aria-hidden="false"],
    .expense-table-section tbody tr .details-btn[aria-hidden="false"],
    .expense-table-section tbody tr .save-btn[aria-hidden="false"],
    .expense-table-section tbody tr .cancel-btn[aria-hidden="false"] {
        position: relative;
        opacity: 1;
    }

    .expense-table-section tbody tr .edit-btn:hover .svg,
    .expense-table-section tbody tr .details-btn:hover .svg,
    .expense-table-section tbody tr .edit-btn:focus .svg,
    .expense-table-section tbody tr .details-btn:focus .svg {
        stroke: var(--primary-color-400);
    }

    .expense-table-section tbody tr .edit-btn .svg,
    .expense-table-section tbody tr .details-btn .svg {
        stroke: var(--primary-color-500);
    }
    .expense-table-section tbody tr .save-btn:hover .svg,
    .expense-table-section tbody tr .save-btn:focus .svg {
        stroke: var(--success-color-300);
    }
    .expense-table-section tbody tr .save-btn .svg {
        stroke: var(--success-color-500);
    }
    .expense-table-section tbody tr .cancel-btn:hover .svg,
    .expense-table-section tbody tr .cancel-btn:focus .svg {
        stroke: var(--danger-color-300);
    }
    .expense-table-section tbody tr .cancel-btn .svg {
        stroke: var(--danger-color-500);
    }



    /* Table pagination */
    .expense-table-section .table-pagination-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 8px;
        font-size: var(--small-fs);
        font-weight: var(--regular-fw);
        color: var(--typography-color-500);
    }
        .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list {
            display: flex;
            align-items: center;
            gap: 6px;
        }
            .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list .pagination-btn,
            .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list .pagination-btn-svg {
                height: 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
            }
            .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list .pagination-btn {
                width: 30px;
                background-color: var(--element-background-400);
                border-radius: 10px;
                color: inherit;
            }
                .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list .pagination-btn:hover,
                .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list .pagination-btn:focus {
                    background-color: var(--element-background-300);
                    color: var(--typography-color-100);
                    outline: none;
                }
                .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list .pagination-btn-svg {
                    color: var(--typography-color-300);
                }
                    .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list .pagination-btn-svg:hover,
                    .expense-table-section .table-pagination-container .pagination-nav .pagination-btn-list .pagination-btn-svg:focus {
                        color: var(--typography-color-100);
                        outline: none;
                    }
    
    