.overview .month-selector {
    display: flex;
    color: var(--typography-color-300);
    font-size: var(--medium-fs);
    line-height: 1;
    margin-bottom: var(--spacing-small);
}
    .overview .month-selector .svg {
        stroke: var(--typography-color-300);
        width: var(--medium-fs);
        height: var(--medium-fs);
    }
    