.overview .month-selector {
    display: flex;
    color: var(--typography-color-300);
    font-size: var(--medium-fs);
    font-weight: var(--medium-fw);
    margin-bottom: calc(var(--spacing-large)/2);
}
    .overview .month-selector .svg{
        stroke: var(--typography-color-300);  
    }
    