:root {
    /* Backgrounds */
    --main-background-color: white;
    --main-background-color-hover: hsl(202 36% 95% / 1);
    --second-background-color: #e3e4ec;
    --second-background-color-hover: #bbc4c9;
    --third-background-color: hsl(219 19% 84% / .7);
    --third-background-color-hover: hsl(219 19% 84% / 1);
    --transparent-background-color: transparent;
    /* Table */
    --table-main-color: #f4f6fa;
    --table-expense-color: #dc3545;
    --table-income-color: #198754;
    /* Cards */
    --card-background-color: hsl(195 15% 94% / 1);
    --card-background-color-hover: hsl(0 0% 100% / 1);
    --card-border-color: #424242;
    --card-budget-background-color: hsl(152 60% 47% / .7);
    --card-budget-background-color-hover: hsl(152 60% 47% / 1);
    --card-tile-net-color: #f4f6fa;
    --card-tile-expense-color: #e6bab9;
    --card-tile-income-color: #D1F3D1;
    /* Text */
    --main-text-color: black;
    --secondary-text-color: white;
    /* Success and Danger */
    --color-danger: #dc3545;
    --color-success: #198754;
    /* Calendar */
    --invert-calendar: none;
}

.darkMode {
    /* General Colors */
    --grey-color: #8D9AA8;
    --thin-grey-color: #495461;
    --green-color: #067857;
    --green-second-color:;
    --red-color: #ce4653;
    --blue-color: #62a6ff;
    --blue-second-color: #1c7fce;
    /* Backgrounds */
    --main-background-color: #05090F;
    --main-background-color-hover: hsl(217 34% 9% / 1);
    --grey-background-color: #2e3641; /**/
    --grey-background-color-hover: #58616f; /**/
    --third-background-color: hsl(219 17% 26% / .7);
    --third-background-color-hover: hsl(219 17% 26% / 1);
    --transparent-background-color: transparent;
    /* Table */
    --table-main-color: #101622;
    --table-expense-color: #626070;
    --table-income-color: #626070;
    /*--table-expense-color: #444A54;
    --table-income-color: #444A54;*/
    /* Cards */
    --card-background-color: hsl(221 19% 16% / 1);
    --card-background-color-hover: hsl(219 17% 26% / .7);
    --card-border-color: #626070;
    --card-budget-background-success: hsl(162 92% 30% / .8);
    --card-budget-background-success-hover: hsl(162 92% 30% / 1);
    --card-budget-background-danger: #99202b;
    --card-budget-background-danger-hover: #b63542;
    --card-tile-net-color: #0a0e15;
    --card-tile-expense-color: #3a1212;
    --card-tile-income-color: #193531;
    /* Text */
    --main-text-color: white;
    --secondary-text-color: black;
    /* Success and Danger */
    --color-danger: #ce4653;
    --color-success: #299e68;
    /* Calendar */
    --invert-calendar: invert(1);
}



html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

html i {
    color: var(--main-text-color);
}

header {
    background: var(--main-background-color);
}

body {
    background: var(--main-background-color);
    margin-bottom: 60px;
}
    body hr {
        background: var(--main-text-color)
    }

row {
    background-color: #090e27;
}

nav {
    background: var(--nav-color);
}

@media(min-width: 1050px) {
    html {
        font-size: 16px;
    }
}

@media(max-width: 992px) {
    .scrollable-table {
        overflow-x: auto;
    }
    .btn-expense-pagination, .btn-income-pagination {
        display: none;
    }
}

@media(min-width: 992px) {
    .scrollable-table {
        overflow-x: hidden;
    }
}

/* Color Hover class */
.color-hover {

}

.text-color {
    color: var(--main-text-color);
}

.text-secondary-color {
    color: var(--secondary-text-color);
}

.text-success-color {
    color: var(--color-success);
}

.text-danger-color {
    color: var(--color-danger);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

    
::-webkit-calendar-picker-indicator {
    filter: var(--invert-calendar);
}

    

/* Credit Cards, Debt and Recurrent Expenses */


/* TEST */
.netflixCard {
    background-color: #dc2f2f;
    border-radius: 1rem;
    padding: 1rem;
}

.spotifyCard {
    background-color: #4bc87f;
    border-radius: 1rem;
    padding: 1rem;
}


    

.pEditable {
    position: relative;
}
    .pEditable:before {
        content: "";
        position: absolute;
        bottom: -2px;
        height: 2px;
        width: 100%;
        background: var(--main-text-color);
        border-radius: 50px;
        transition: width 0.3s ease;
    }

    .pEditable:hover:before {
        width: 100%; 
    }
/*---------------*/

    

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.7rem;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #181c3a;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1.3rem;
        width: 1.3rem;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

/* Rounded sliders */
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 2px white;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
}

.slider.round {
    border-radius: 1.7rem;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Back Button */
.backButton {
    background-color: transparent;
    border: none;
    color: white;
}

    .backButton:hover {
        color: #8ee0fa;
    }


/* Scroll bar*/
::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
    margin: 0;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
    background: #181c3a;
    border-radius: 5px;
    margin: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
    border-radius: 5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--main-text-color);
    }