.table-col, .table-page-size-form, .search-date-input {
}

.table-label-input-block {
    width: 150px;
}



.generalTable {
    min-width: 836px;
}
.generalTable:hover::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
    border-radius: 5px;
}
    .generalTable table {
        border-collapse: collapse;
        background: transparent;
        width: 100%;
    }

    .generalTable th, td {
        padding: 1rem .5rem;
    }

    .generalTable th {
        text-align: left;
        background: var(--table-main-color);
        border-top: 1px solid var(--main-text-color);
        border-bottom: 1px solid var(--main-text-color);
        color: #a8d6ff;
    }

    .generalTable tr {
        table-layout: fixed;
        border-bottom: 1px solid var(--thin-grey-color);
    }
   .generalTable tr:nth-child(2n+1) {
        background: var(--table-main-color);
    }

    .generalTable tr:nth-child(2n) {
        background: var(--table-main-color);
    }

    .generalTable tr:last-child {
        border-bottom: 1px solid var(--main-text-color);
    }
    .generalTable a {
        text-decoration: none;
        color: white;
    }

        .generalTable a:hover {
            color: #bae8e8;
        }

   
    .generalTable td:nth-child(7) {
        min-width: 135px;
    }

    .generalTable input[type=text],
    .generalTable input[type=number],
    .generalTable input[type=date],
    .generalTable select {
        background-color: transparent;
        border: 1px solid var(--blue-color);
        border-radius: 5px;
        width: 100%;
        padding: 1px 2px;
        color: var(--main-text-color);
        font-size: 1rem;
        text-indent: .25rem;
    }
        .generalTable input[type=text]:focus,
        .generalTable input[type=number]:focus,
        .generalTable input[type=date]:focus,
        .generalTable select {
            outline: none;
        }

            .generalTable select option {
                background: #212631;
            }


/* Table Column Widths*/    
    /* Amount */
    .generalTable th:nth-child(1) {
        width: 15%;
    }
    /* Date */
    .generalTable th:nth-child(2) {
        width: 15%;
    }
    /* Category, Payment, Action */
    .generalTable th:nth-child(3), th:nth-child(4), th:nth-child(6) {
        width: 15%;
    }
    /* Description */
    .generalTable th:nth-child(5) {
        width: 25%;
    }

/* Buttons */
.expense-edit-btn .expense-create-btn, .expense-update-btn, .income-edit-btn, .income-update-btn, .income-create-btn {
}

.income-delete-btn, .income-cancel-btn, .expense-delete-btn, .expense-cancel-btn {
    background-color: transparent;
    border: solid 1px var(--color-danger);
    border-radius: .25rem;
    transition-duration: 0.5s;
    color: var(--main-text-color);
}
    .income-delete-btn:hover, .income-cancel-btn:hover, .expense-delete-btn:hover, .expense-cancel-btn:hover {
            background-color: var(--color-danger);
            border: solid 1px var(--color-danger);
            color: var(--main-text-color);
        }

.table-settings {
}
    .table-settings input[type=number], input[type=text], input[type=date], select {
        background-color: transparent;
        padding: 3px 2px 3px 2px;
        border: 1px solid var(--grey-color);
        border-radius: 4px;
        text-indent: .25rem;
        font-weight: 500;
        width: 150px;
        color: var(--main-text-color);
    }

    .table-settings input[type=number]:focus, input[type=text]:focus, input[type=date]:focus {
        outline: none;
    }

    .table-settings select option {
        background-color: var(--table-main-color);
    }

    .table-settings select  {
        max-width: 150px;
        padding: 4px 2px 3px 2px;
    }

    .table-settings label {
        font-size: .85rem;
        font-weight: 600;
        text-indent: .25rem;
        max-width: 150px;
    }

    .table-settings .max-col-width {
        max-width: 150px;
    }

    .table-settings button {
        padding: 3px 12px;
        border-color: var(--grey-color);
    }
        .table-settings button:hover {
            background-color: #63ACF8;
            border-color: #63ACF8;
        }

.amount-text {
    font-weight: 500;
}

.date-text {
    font-weight: 400;
    color: var(--grey-color);
}

.payment-debit-text, .payment-credit-text, .payment-debt-text {
    border-radius: 4px;
    padding: 0px 5px;
    font-weight: 500;
}

.payment-debit-text {
    background: var(--green-color);
}
.payment-credit-text {
    background: var(--red-color);
}

.payment-debt-text {
    background: var(--thin-grey-color)

}





