/* Budget and Montlhy Balance */
.tile-col, .tile-time-period, .budget-status, net-total-amount, expense-total-amount, income-total-amount {
}

.tile-col h5 {
    font-size: 1.35rem;
}

.tile {
    background-color: var(--card-tile-net-color);
    border-width: 2px;
    border-color: var(--card-border-color);
    border-radius: 30px 10px;
    transition: .4s;
}

.tile-budget {
    border-width: 2px;
    border-radius: 30px 10px;
    border-color: var(--second-text-color);
    transition: .7s;
}

.tile-budget-success {
    background-color: var(--card-budget-background-success);
}

    .tile-budget-success:hover {
        background-color: var(--card-budget-background-success-hover);
        border-color: var(--card-budget-background-success-hover);
    }

.tile-budget-danger {
    background-color: var(--card-budget-background-danger);
}
    .tile-budget-danger:hover {
        background-color: var(--card-budget-background-danger-hover);
        border-color: var(--card-budget-background-danger-hover);
    }

.tile-net {
    border-color: var(--card-border-color);
}

.tile-expense {
    border-color: var(--card-tile-expense-color);
}

.tile-income {
    border-color: var(--card-tile-income-color);
}


.budget-amount {
    height: 1.5rem;
}

.budget-form {
}
    .budget-form button,.budget-form label,.budget-form input {
        max-height: 1.55rem;
        font-weight: 500;
        line-height: 0;
    }
    .budget-form input {
        background: transparent;
        border-radius: 5px;
        border: 1px solid var(--main-text-color);
        max-width: 45%;
        padding: 0px;
        font-size: 1.35rem;
        text-indent: .25rem;
        color: var(--main-text-color);
 
    }
    .budget-form input:focus {
        outline: none;
    }

.budget-form label {
    font-size: 1.35rem;
    max-width: 40%;
}

.save-budget-btn {
    height: 100%;
}
.tile-amount {
    font-size: 2rem;
    font-weight: 700;
    align-content: center;
}


